<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome!</title>
</head>
<body>
<h1>출력 폼</h1>
<div class="mb-3">
<label class="form-label" name="title">{{article.title}}</label>
</div>
<br>
<div class="mb-3">
<label class="form-label" name="content">{{article.content}}</label>
</div>
<br>
<a href="/input"><button type="button">돌아가기</button></a>
</body>
</html>